#msg-box3-18 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-18 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-18 .lead P {
  text-align: center;
  font-size: 30px;
}
#msg-box3-18 .mbr-section-title {
  font-size: 36px;
}
#menu-1c .navbar-toggler {
  color: #000;
}
#content4-1n H4 {
  color: #0275d8;
}
#content4-22 H4 {
  color: #0275d8;
}
#content4-20 H4 {
  color: #0275d8;
}
#content4-1p H4 {
  color: #000000;
}
#content4-21 H4 {
  color: #0275d8;
}
#content4-23 H4 {
  color: #0275d8;
}
#menu-1d .navbar-toggler {
  color: #000;
}
